*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style: none;
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 13rem;
}

#km-logo{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav li{
    display: inline-block;
}
nav li a{
    font-size: 0.9rem;
    margin: 0rem 2rem;
    color: black;
    font-family:"Work Sans", sans-serif ; 
}
nav li a:hover{
    color: #1162ff;
}
#contact-btn{
    background-color: #1162ff;
    padding: 0.8rem 1.5rem;
    color: white;
    border-radius: 0.5rem;
    margin-right:0rem ;
}
.main-element{
    display: flex;
    height: 100%;
    background-color: #0f0f0f;
    padding: 0rem 13rem;
    justify-content: space-between;
}
.left-side{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.mini-slog{
    font-family:"Work Sans", sans-serif ;
    font-size: 1rem;
}
.left-side h1{
    width: 70%;
    font-family: "Sora", sans-serif;
    font-size: 2.625rem;
    margin: 2rem 0rem;
    line-height: 3.5rem;
}
.long-slog{
    font-family:"Work Sans", sans-serif ;
    font-size: 1rem;
    width: 70%;
}
.btn-left-side{
    font-family:"Work Sans", sans-serif ;
    font-size: 1rem;
    margin: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.call{
    background-color: white;
    border: none;
    color: black;
    padding: 1.1rem 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.whatsapp{
    background-color: #1162ff;
    border: none;
    color: white;
    padding: 1.1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.right-side{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#profile-pic{
    width: 25rem;
    height: auto;
    border-radius: 0.5rem;
}
.links{
    display: flex;
    align-items: center;
    color: white;
    font-family:"Work Sans", sans-serif ;
    font-size: 0.925rem;
    margin: 1rem 0rem;
}
.links  a img,p{
    padding: 0rem 0.3rem;
}

#contact-btn:hover{
    background-color: #0e40a5;
}
.whatsapp:hover{
    background-color: #0e40a5;
}
@media screen and (max-width: 1300px)
 {
    .main-element{
        padding: 0rem 3rem;
    }
}
@media screen and (max-width: 978px)
 {
    .main-element{
        flex-direction: column;
    }
    .right-side{
        margin-top: 5rem;
        justify-content: center;
        background-color: #0f0f0f;
    }
}